@model IEnumerable<HsPXL.Models.Cursus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studiepunten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.handboek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CursusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studiepunten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.handboek.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CursusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CursusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
