@model HsPXL.Models.HandBoek

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete!</h1>
<div class="alert alert-danger">
    Are you sure want to delete the Book "@Model.Title"  ?
</div>
<div>
    <h4>HandBoek</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KostPrijs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KostPrijs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UitgiftDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UitgiftDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afbeelding)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Afbeelding" style="height:150px; width:100px;" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="HandBoekID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
